.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/node_modules/
test/dummy/yarn-error.log
test/dummy/storage/
test/dummy/tmp/

dogs/.bundle/
dogs/log/*.log
dogs/pkg/
dogs/test/dummy/db/*.sqlite3
dogs/test/dummy/db/*.sqlite3-journal
dogs/test/dummy/log/*.log
dogs/test/dummy/node_modules/
dogs/test/dummy/yarn-error.log
dogs/test/dummy/storage/
dogs/test/dummy/tmp/
dogs/Gemfile.lock


cats/.bundle/
cats/log/*.log
cats/pkg/
cats/test/dummy/db/*.sqlite3
cats/test/dummy/db/*.sqlite3-journal
cats/test/dummy/log/*.log
cats/test/dummy/node_modules/
cats/test/dummy/yarn-error.log
cats/test/dummy/storage/
cats/test/dummy/tmp/
cats/Gemfile.lock