<h1>Dogs#index</h1>
<p>Find me in app/views/dogs/index.html.erb</p>

<div id="mydogs-component"></div>
<script>
  (function(){
    ReactDOM.render(React.createElement(MyDogs, {name: "Pablo"}), document.getElementById('mydogs-component'))
  }());
</script>
